body {
  padding: 20px;
  background-color: #08a2b0;
}

label {
  font-size: 12px;
  margin-bottom: 7px;
  color: rgba(255, 255, 255, 0.8);
  display: block;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 8px;
  min-height: 48px;
  border: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-top: 14px;
  position: relative;
  padding-right: 20px;
  margin: 14px 0 10px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ececec;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.select2-dropdown {
  border: none;
}